<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <title>Search questions in Thymeleaf</title>
</head>
<body>


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Bootstrap theme</a>
        </div>
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <h1>Test project</h1>
        <p>Full Stack Live Coding Exercise. Created by by Vadim Kamyshnikov</p>
    </div>
</div>
<div class="container">

    <h2>Questions</h2>

    <form th:action="@{/search}">
        <div class="form-group">
            <label for="search">Search query</label>
            <input type="text" class="form-control" th:name="search" th:value="${search}" id="search"
                   placeholder="Input string here">
        </div>
        <button type="submit" th:name="action" class="btn btn-default">Search questions</button>
    </form>

    <div th:switch="${items}">
        <h2 th:case="null">No search results yet!</h2>
        <div th:case="*">
            <table class="table">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Title</th>
                    <th>Author</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${items}">
                    <td th:text="${item.creationDate}"></td>
                    <td>
                        <a th:href="@{{link}(link = ${item.link})}">
                            <span th:text="${item.title}"></span>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{{link}(link = ${item.owner.link})}">
                            <span th:text="${item.owner.displayName}"></span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>